{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block title_block %} {{title}} {% endblock %}

{% block css_block %}
<style>
    .sign_up {
        width: 500px;
        border: 1px solid #ccc;
        padding: 20px;
    }
    .log_in {
        width: 500px;
        border: 1px solid #ccc;
        padding: 25px;
    }
</style>
{% endblock %}
{% block body_block %}
<center>
<div class="log_in">
    <form method="POST">
        {{ form|crispy}}
        {% csrf_token%}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
<br>
<div class="sign_up">
    <p>You Don't have account? <a href="{% url 'App_Login:sign_up' %}">Sign up</a></p>
    
</div>
</center>
{% endblock %}