{% extends "navbar.html" %} 
{% load crispy_forms_tags %} 
{% block title_block %} {{title}} {% endblock %}

{% block css_block %}
<style>
    {% comment %} .sign_up {
        width: 500px;
        border: 1px solid #ccc;
        padding: 20px;
    }
    .log_in {
        width: 500px;
        border: 1px solid #ccc;
        padding: 25px;
    } {% endcomment %}
</style>
{% endblock %}
{% block body_block %}
<center>
    <form method="POST" enctype="multipart/form-data">
        {{form|crispy}}
        {% csrf_token %}
        <button type="submit" name="button" class="btn btn-primary">Submit</button>
    </form>
</center>
{% endblock %}